[Unit]
Description=Encryption 
After=network.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/bin/bash_scrypt/crypt.sh

[Install]
WantedBy=multi-user.target
